<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
    
	
    <test name="selenium-iSousv3-framework">
        <packages>
            <package name="automationFramework"/>
        </packages>
        <classes>
            <class name="automationFramework.UDF_TC">
            </class>
        </classes>
    </test>
  
</suite> 
